<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>

<display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>UserRegister</servlet-name>
  	<display-name>UserRegister</display-name>
  	<description></description>
  	<servlet-class>com.user.servlet.UserRegister</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminLogin</servlet-name>
  	<display-name>AdminLogin</display-name>
  	<description></description>
  	<servlet-class>com.admin.servlet.AdminLogin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminLogout</servlet-name>
  	<display-name>AdminLogout</display-name>
  	<description></description>
  	<servlet-class>com.admin.servlet.AdminLogout</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserLogin</servlet-name>
  	<display-name>UserLogin</display-name>
  	<description></description>
  	<servlet-class>com.user.servlet.UserLogin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserLogout</servlet-name>
  	<display-name>UserLogout</display-name>
  	<description></description>
  	<servlet-class>com.user.servlet.UserLogout</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddSpecialist</servlet-name>
  	<display-name>AddSpecialist</display-name>
  	<description></description>
  	<servlet-class>com.admin.servlet.AddSpecialist</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateDoctor</servlet-name>
  	<display-name>UpdateDoctor</display-name>
  	<description></description>
  	<servlet-class>com.admin.servlet.UpdateDoctor</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteDoctor</servlet-name>
  	<display-name>DeleteDoctor</display-name>
  	<description></description>
  	<servlet-class>com.admin.servlet.DeleteDoctor</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DocotrPasswordChange</servlet-name>
  	<display-name>DocotrPasswordChange</display-name>
  	<description></description>
  	<servlet-class>com.admin.servlet.DocotrPasswordChange</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DoctorLogin</servlet-name>
  	<display-name>DoctorLogin</display-name>
  	<description></description>
  	<servlet-class>com.doctor.servlet.DoctorLogin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DoctorLogout</servlet-name>
  	<display-name>DoctorLogout</display-name>
  	<description></description>
  	<servlet-class>com.doctor.servlet.DoctorLogout</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EditProfile</servlet-name>
  	<display-name>EditProfile</display-name>
  	<description></description>
  	<servlet-class>com.doctor.servlet.EditProfile</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateStatus</servlet-name>
  	<display-name>UpdateStatus</display-name>
  	<description></description>
  	<servlet-class>com.doctor.servlet.UpdateStatus</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AppointmentServlet</servlet-name>
  	<display-name>AppointmentServlet</display-name>
  	<description></description>
  	<servlet-class>com.user.servlet.AppointmentServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ChangePassword</servlet-name>
  	<display-name>ChangePassword</display-name>
  	<description></description>
  	<servlet-class>com.user.servlet.ChangePassword</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>UserRegister</servlet-name>
  	<url-pattern>/UserRegister</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminLogin</servlet-name>
  	<url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminLogout</servlet-name>
  	<url-pattern>/AdminLogout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserLogin</servlet-name>
  	<url-pattern>/UserLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserLogout</servlet-name>
  	<url-pattern>/UserLogout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddSpecialist</servlet-name>
  	<url-pattern>/AddSpecialist</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateDoctor</servlet-name>
  	<url-pattern>/UpdateDoctor</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteDoctor</servlet-name>
  	<url-pattern>/DeleteDoctor</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DocotrPasswordChange</servlet-name>
  	<url-pattern>/DocotrPasswordChange</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DoctorLogin</servlet-name>
  	<url-pattern>/DoctorLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DoctorLogout</servlet-name>
  	<url-pattern>/DoctorLogout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EditProfile</servlet-name>
  	<url-pattern>/EditProfile</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateStatus</servlet-name>
  	<url-pattern>/UpdateStatus</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AppointmentServlet</servlet-name>
  	<url-pattern>/AppointmentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ChangePassword</servlet-name>
  	<url-pattern>/ChangePassword</url-pattern>
  </servlet-mapping>


</web-app>
